.main-catalog__title {
  color: black;
  margin: 0;
  padding: 0;
  font-size: 27px;
  line-height: 30px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #f1f1f1;
  padding-top: 77px;
  padding-bottom: 81px;
  text-align: center;
  margin-bottom: 30px;
}

@media (min-width: @tablet-width) {
  .main-catalog__title {
    font-size: 43px;
    line-height: 50px;
  }
}

@media (min-width: @desktop-width) {
  .main-catalog__title {
    font-size: 53px;
    line-height: 57px;
  }
}
