.product__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.product__item {
  width: 260px;
  margin: 0 auto;
  margin-bottom: 30px;
  border: 1px solid #ededed;
  display: flex;
  flex-direction: column;
  height: 374px;
}

.product__item--last {
  height: 399px;
}

.product__item-wrap {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.product__logo-image {
  margin: 0;
  margin-bottom: 27px;
  width: 260px;
  height: 195px;
  vertical-align: middle;
  text-align: center;
}

.product__name {
  margin: 0;
  margin-bottom: 6px;
  padding: 0;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  margin-left: 28px;
}

.product__description {
  margin: 0;
  margin-bottom: 45px;
  padding: 0;
  font-size: 13px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #444444;
  margin-left: 28px;
  position: relative;
}

.product__description::after {
  content: "";
  position: absolute;
  width: 204px;
  height: 1px;
  background: #ececec;
  bottom: -26px;
  left: 0;
}

.product__price {
  text-decoration: none;
  color: black;
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 24px;
  margin-left: 28px;
  position: relative;
  width: 233px;
}

.product__price::after {
  content: "";
  position: absolute;
  background-image: url("../img/icon-cart.svg");
  top: 0;
  right: 27px;
  width: 20px;
  height: 19px;
  opacity: 0.2;
}

.product__link {
  text-decoration: none;
}

@media (min-width: @tablet-width) {
  .product__logo-image {
    margin-bottom: 0;
    width: 334px;
    height: 334px;
  }

  .product__item {
    flex-direction: row;
    width: 668px;
    height: 334px;
    margin-bottom: 54px;
  }

  .product__name {
    margin-top: 27px;
  }

  .product__description {
    margin-bottom: 202px;
  }

  .product__description::after {
    width: 268px;
    bottom: -177px;
  }

  .product__description-3 {
    margin-bottom: 174px;
  }

  .product__description-3::after {
    bottom: -153px;
  }

  .product__price {
    width: 305px;
  }

  .product__price::after {
    right: 32px;
  }
}

@media (min-width: @desktop-width) {
  .product__list {
    flex-direction: row;
  }

  .product__logo-image {
    width: 316px;
    height: 462px;
  }

  .product__item {
    flex-direction: column;
    width: 315px;
    height: 659px;
  }

  .product__description {
    margin-bottom: 66px;
  }

  .product__description-3 {
    margin-bottom: 39px;
  }

  .product__description::after {
    width: 268px;
    bottom: -40px;
  }

  .product__description-3::after {
    bottom: -18px;
  }

  .product__price {
    width: 288px;
  }

  .product__price::after {
    right: 56px;
  }
}
