.top-item {
  margin: 0;
  padding: 0;
  padding-left: 30px;

  p {
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height: 24px;
    font-family: "Open Sans", "Arial", sans-serif;
  }
}

.top-item__header {
  margin: 0;
  padding: 0;
  margin-top: 34px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
}

.top-item__title {
  font-size: 25px;
  line-height: 30px;
  margin: 0;
  padding: 0;
  margin-bottom: 14px;
}

.top-item__description {
  margin: 0;
  padding: 0;
  font-size: 17px;
  line-height: 20px;
  color: #63d1bb;
  margin-bottom: 35px;
}

.top-item__list {
  font-size: 15px;
  line-height: 20px;
  font-family: "Open Sans", "Arial", sans-serif;
  margin: 0;
  padding: 0;
  margin-top: 35px;

  tr {
    margin: 0;
    padding: 0;
    height: 41px;
    position: relative;
    display: block;
    padding-top: 17px;
  }

  tr::before {
    position: absolute;
    content: "";
    width: 260px;
    height: 1px;
    background: #444444;
    bottom: -3px;
  }
}

.top-item__name {
  width: 98px;
}

.top-item__image {
  margin-bottom: 30px;
}

.top-item__price {
  display: inline-block;
  width: 249px;
  text-align: center;
  font-size: 17px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans Bold", "Arial", sans-serif;
}

.top-item__order {
  margin: 0;
  padding: 0;
  font-size: 17px;
  line-height: 20px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  margin-bottom: 76px;
}

.button {
  width: 259px;
  border: 2px solid black;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  padding-top: 18px;
  padding-bottom: 18px;
  flex-direction: column;
  text-align: center;
  vertical-align: middle;
  position: relative;
  background: #ffffff;
}
