.top-item {
  margin: 0 auto;
  padding: 0;
  width: 260px;

  p {
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height: 24px;
    font-family: "Open Sans", "Arial", sans-serif;
    margin-bottom: 16px;
  }
}

.top-item__header {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.top-item__title {
  font-size: 25px;
  line-height: 30px;
  margin: 0;
  padding: 0;
  margin-bottom: 6px;
  font-weight: 400;
}

.top-item__description {
  margin: 0;
  padding: 0;
  font-size: 17px;
  line-height: 20px;
  color: #63d1bb;
  margin-bottom: 22px;
  font-weight: 100;
  text-transform: uppercase;
}

.top-item__list {
  font-size: 15px;
  line-height: 20px;
  font-family: "Open Sans", "Arial", sans-serif;
  margin: 0;
  padding: 0;
  margin-left: -2px;
  margin-bottom: 26px;

  tr {
    width: 260px;
    margin: 0;
    padding: 0;
    height: 18px;
    padding-top: 7px;
    padding-bottom: 14px;
    display: block;
    border-bottom: 1px solid #ececec;
    text-align: left;
  }

  td {
    padding: 0;
    margin: 0;
  }
}

.top-item__name {
  width: 95px;
}

.top-item__image {
  padding: 0;
  margin-bottom: 20px;
  box-sizing: content-box;

  img {
    width: 260px;
    height: 315px;
  }
}

.top-item__price {
  display: inline-block;
  width: 260px;
  text-align: center;
  font-size: 17px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}

.top-item__order {
  margin: 0;
  padding: 0;
  font-size: 17px;
  line-height: 20px;
  margin-bottom: 69px;
  width: 256px;
}

@media (min-width: @tablet-width) {
  .top-item {
    width: 668px;
    position: relative;

    p {
      margin-bottom: 33px;
      font-size: 17px;
      line-height: 30px;
    }
  }

  .top-item__header {
    flex-direction: row;
    justify-content: space-between;
  }

  .top-item__title {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 49px;
  }

  .top-item__description {
    font-size: 17px;
    line-height: 17px;
    margin-top: 10px;
    margin-right: 25px;
    padding-top: 0;
    width: 71px;
    height: 100%;
    text-align: center;
  }

  .top-item__image {
    position: absolute;
    right: 0;
    top: 107px;
    z-index: -1;

    img {
      width: 333px;
      height: 404px;
    }
  }

  .top-item__list {
    margin-bottom: 54px;

    tr {
      width: 292px;
    }
  }

  .top-item__price {
    margin-bottom: 34px;
    font-size: 20px;
    line-height: 24px;
    width: 290px;
  }

  .top-item__order {
    margin-bottom: 118px;
    width: 287px;
  }
}

@media (min-width: @desktop-width) {
  .top-item {
    width: 1050px;

    p {
      margin-left: 175px;
      margin-bottom: 47px;
    }
  }

  .top-item__title {
    font-size: 53px;
    line-height: 57px;
    margin-bottom: 50px;
    order: 2;
  }

  .top-item__description {
    padding-top: 6px;
    padding-left: 47px;
    padding-right: 54px;
    width: 70px;
    order: 1;
    margin-right: 0;
    margin-bottom: 0;
  }

  .top-item__header {
    justify-content: flex-start;
  }

  .top-item__list {
    margin-left: 172px;
    margin-bottom: 106px;

    tr {
      padding-top: 5px;
      padding-bottom: 16px;
    }
  }

  .top-item__price {
    margin-left: 177px;
    margin-bottom: 34px;
  }

  .top-item__order {
    margin-left: 175px;
    margin-bottom: 155px;
    width: 289px;
  }

  .top-item__image {
    top: -52px;

    img {
      width: 525px;
      height: 636px;
    }
  }
}
