.user-list {
  color: black;
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-list__link {
  text-decoration: none;
  color: black;
  font-size: 17px;
  line-height: 24px;
}

.user-list__item {
  width: auto;
  padding-left: 46px;
  height: 56px;
  padding-top: 29px;
  border-top: 1px solid grey;
  position: relative;
}

.user-list__item--delivery {
  display: none;
}

.user-list__delivery {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 24px;
  font-family: "Open Sans", "Arial", sans-serif;
}

.user-list__basket-icon {
  position: absolute;
  top: 31px;
  left: 0;

  width: 21px;
  height: 18px;

  path {
    fill: #d3d2d2;
  }
}

.user-list__search-icon {
  position: absolute;
  top: 32px;
  left: 0;

  width: 18px;
  height: 18px;

  path {
    fill: #d3d2d2;
  }
}

@media (min-width: @tablet-width) {
  .user-list {
    width: 348px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    height: 150px;
  }

  .user-list__item {
    border-top: none;
    margin: 0;
    padding: 0;
  }

  .user-list__item--search {
    width: 81px;
    height: 88px;
    padding: 0;
    border-left: 1px solid #ececec;

    .user-list__link {
      font-size: 0;
    }
  }

  .user-list__search-icon {
    top: 36px;
    left: 34px;
  }

  .user-list__item--basket {
    width: 182px;
    height: 55px;
    padding-left: 83px;
    padding-top: 33px;
    border-left: 1px solid #ececec;
  }

  .user-list__basket-icon {
    top: 36px;
    left: 33px;
  }

  .user-list__item--delivery {
    padding: 0;
    margin: 0;
    display: flex;
    height: 41px;
    padding-top: 20px;
    width: 100%;
    justify-content: flex-end;
  }

  .user-list__login-icon {
    top: 29px;
    left: 12px;
  }
}

@media (min-width: @desktop-width) {
  .user-list {
    width: 350px;
  }
}
